.alert {
    padding: 15px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 15px;
    position: relative;
    border-radius: 5px;
    width: 90%;
    margin: 10px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.alert-success {
    background-color: #4CAF50; /* Green */
}

.alert-danger {
    background-color: #f44336; /* Red */
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 20px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}
